<%= render partial: 'layouts/navbar' %>

<div class="container bg-light mt-2 mb-4 p-4">
  <div class="page-header mb-5">
    <div class="btn-toolbar pull-right">
      <div class="btn-group ml-1">
        <%= link_to "#{icon 'bi-arrow-up'} Back".html_safe, '/networks', class: 'btn btn-primary' %>
      </div>

      <div class="btn-group ml-1">
        <%= link_to "#{icon 'bi-'} Edit".html_safe, "/network/edit/#{params[:id]}", class: 'btn btn-primary' %>
      </div>
    </div>

    <h1><%= @network.name %></h1>

    <hr>
  </div>

  <p class="mb-5">
    Network information can be found below. Also you can see all devices connected to this network.
  </p>

  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <b>Password:</b> <%= @network.password %>
        <br>
        <b>Description:</b> <%= @network.description %>
      </div>
    </div>
  </div>

  <h2>Devices</h2>

  <hr>

  <% if @network.has_devices? %>
    <ul class="list-group">
      <% @network.devices.each do |device| %>
        <li class="list-group-item">
          Device: <%= link_to device.name, {controller: 'device', action: 'show', id: device.id} %> - Status: <%= device.connected? ? (icon 'bi-check-circle') : (icon 'bi-x-circle') %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="alert alert-secondary" role="alert">
      There no device configure to connect to this network.
    </div>
  <% end %>
</div>