<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WaterPlanto</title>

  <meta name="author" content="Antoniu Mihai Temian">

  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "favicon/apple-touch-icon.png" %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path "favicon/favicon-32x32.png" %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "favicon/favicon-16x16.png" %>">
  <link rel="manifest" href="<%= image_path "favicon/site.webmanifest" %>">
  <link rel="mask-icon" href="<%= image_path "favicon/safari-pinned-tab.svg" %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap Core CSS-->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS-->
  <link href="/css/universal.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">

<!-- Preloader-->
<div id="preloader">
  <div id="status"></div>
</div>

<!-- Navigation-->
<nav class="navbar navbar-universal navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#page-top" class="navbar-brand page-scroll">WaterPlanto</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
          <li class="hidden"><a href="#page-top"></a></li>
          <li><%= link_to "Welcome #{current_user.full_name}", '/account' %></li>
          <li class="menu-divider visible-lg">&nbsp;</li>
          <li><%= link_to "Your devices", '/devices' %></li>
        <% else %>
          <li class="hidden"><a href="#page-top"></a></li>
          <li><%= link_to "Sign in", new_session_path(User.new) %></li>
          <li class="menu-divider visible-lg">&nbsp;</li>
          <li><%= link_to "Sign up", new_registration_path(User.new) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Header-->
<header class="solid-color3 intro">
  <!-- Intro Header-->
  <div class="intro-body">
    <p><img src="/img/logo.svg" width="200" alt=""></p>
    <h1><span class="rotate">
            Smart,
            Easy to use,
            Secure,
            User friendly,
            WaterPlanto</span></h1>
    <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
  </div>
</header>

<!-- About Section-->
<section id="about2" class="bg-gray">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col">
        <h3>What is WaterPlanto</h3>
        <p>An easy way to take care of your plants daily even when you're not at home. It has 3 components that work together in a manner that will easen your life when it comes to taking care of your plants.</p>
      </div>
    </div>
  </div>
</section>

<!-- Services Section-->
<section id="services" class="bg-img4 text-center">
  <div class="overlay"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Components</h3>
        <p>What are the components of the WaterPlanto ecosystem></p>
      </div>
    </div>
    <div class="row">
      <div data-wow-delay=".2s" class="col-lg-4 col-sm-6 wow fadeIn">
        <h4><i class="icon icon-big ion-android-globe"></i> The web platform</h4>
      </div>
      <div data-wow-delay=".4s" class="col-lg-4 col-sm-6 wow fadeIn">
        <h4><i class="icon icon-big ion-waterdrop"></i> The devices</h4>
      </div>
      <div data-wow-delay=".6s" class="col-lg-4 col-sm-6 wow fadeIn">
        <h4><i class="icon icon-big ion-android-microphone"></i> Alexa</h4>
      </div>
    </div>
  </div>
</section>

<!-- Subscribe Section-->
<section id="subscribe" class="section-small text-center">
  <div class="overlay-white"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p><i class="icon fa fa-quote-left fa-lg"></i></p>
        <p>I love WaterPlanto. It changed my life. I can now take care of my plants even if I'm gone.</p>
        <h2 class="no-pad classic">Sir Michael Jackson</h2>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section-->
<section class="section-small footer bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>About</h5>
        <p>We are a small company in Cluj-Napoca, Romania. We had the same issue and we tried to solve it, because we love our plants.</p>
      </div>
      <div class="col-sm-3 text-right">
        <h5>Total Users</h5><span data-min="0" data-max="<%= User.count %>" data-delay="1" data-increment="1" class="numscroller">0</span>
      </div>
      <div class="col-sm-3 text-right">
        <h5>Total Devices</h5><span data-min="0" data-max="<%= Device.count %>" data-delay="1" data-increment="1" class="numscroller">0</span>
      </div>
    </div>
  </div>
</section>

<!-- jQuery-->
<script src="/js/jquery-1.12.4.min.js"></script>

<!-- Bootstrap Core JavaScript-->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/device.min.js"></script>
<script src="/js/form.min.js"></script>
<script src="/js/jquery.placeholder.min.js"></script>
<script src="/js/jquery.shuffle.min.js"></script>
<script src="/js/jquery.parallax.min.js"></script>
<script src="/js/jquery.circle-progress.min.js"></script>
<script src="/js/jquery.swipebox.min.js"></script>
<script src="/js/smoothscroll.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.smartmenus.js"></script>
<script src="/js/text-rotator.min.js"></script>

<!-- Custom Theme JavaScript-->
<script src="/js/universal.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>