<%= render partial: 'layouts/navbar' %>

<div class="container bg-light p-4">
  <div class="page-header mb-5">
    <div class="btn-toolbar pull-right">
      <div class="btn-group ml-1">
        <%= link_to "#{icon 'bi-arrow-up'} Back".html_safe, '/devices', class: 'btn btn-primary' %>
      </div>

      <div class="btn-group ml-1">
        <%= link_to "#{icon 'bi-'} Edit".html_safe, "/device/edit/#{params[:id]}", class: 'btn btn-primary' %>
      </div>
    </div>

    <h1><%= @device.name %></h1>

    <hr>
  </div>

  <p class="mb-5">
    Device information can be found below. Also you can see the logs per device.
  </p>

  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <b>Product code:</b> <%= @device.code %>
        <br>
        <b>Water at soil humidity of:</b> <%= @device.water_at %>%
        <br>
        <b>Pump running duration:</b> <%= @device.duration %> seconds
        <br>
        <b>Network:</b> <%= @device.network.name %>
        <br>
        <b>Description:</b> <%= @device.description %>
      </div>

      <div class="col">
        <b>Soil humidity:</b> <%= @device.soil_humidity %>%
        <br>
        <b>Room temperature:</b> <%= @device.temperature %>&#8451;
        <br>
        <b>Room humidity:</b> <%= @device.humidity %>%
        <br>
        <b>Water level:</b> <%= @device.level %>
        <br>
        <b>Last watered at:</b> <%= @device.watered_at %>
      </div>
    </div>
  </div>

  <h2>Logs</h2>

  <hr>

  <% if @device.has_logs? %>
    <%= render partial: 'logs/list' %>
  <% else %>
    <div class="alert alert-secondary" role="alert">
      There no log entries for this device.
    </div>
  <% end %>
</div>