<table class="table table-hover">
  <thead>
    <th></th>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td>
          <%= device.name %>: <%= icon 'bi-arrow-down' %>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <div class="container">
            <div class="row">
              <div class="col">
                <b>Soil humidity:</b> <%= device.humidity %>
                <br>
                <b>Water at soil humidity of:</b> <%= device.water_at %>
                <br>
                <b>Description:</b> <%= device.description %>
              </div>

              <div class="col">
                <b>Water level:</b> <%= device.level %>
                <br>
                <b>Temperature:</b> <%= device.temperature %>
                <br>
                <b>Last watered at:</b> <%= device.watered_at %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>